<h3>Elenco libri</h3>
<table>
  <thead>
    <tr>
      <th>Cod. ISBN</th>
      <th>Titolo</th>
      <th>Descrizione</th>
      <th>Anno di pubblicazione</th>
      <th>N&deg; di pagine</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let libro of libri" (click)="clickLibro(libro)">
      <td>{{ libro.isbn }}</td>
      <td>{{ libro.titolo }}</td>
      <td>{{ libro.descrizione }}</td>
      <td>{{ libro.annoPubblicazione }}</td>
      <td>{{ libro.numeroPagine }}</td>
    </tr>
  </tbody>
</table>
<h4 *ngIf="libri">Stai visualizzando un elenco di {{ libri.length }} libri</h4>
<div *ngIf="libroSelezionato">
  <label>Codice ISBN</label>
  <input type="text" [(ngModel)]="libroSelezionato.isbn" readonly><br>
  <label>Titolo</label>
  <input type="text" [(ngModel)]="libroSelezionato.titolo"><br>
  <label>Descrizione</label>
  <textarea [(ngModel)]="libroSelezionato.descrizione"></textarea><br>
  <label>Anno di pubblicazione</label>
  <input type="number" [(ngModel)]="libroSelezionato.annoPubblicazione"><br>
  <label>N° pagine</label>
  <input type="number" [(ngModel)]="libroSelezionato.numeroPagine"><br>
  <button (click)="salvaLibro()">Salva</button>
</div>
